{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "endOfLine": "auto"
}
