.auth-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/background.png') no-repeat center center/cover;
  }
  
  .auth-form {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
    text-align: center;
    z-index: 1;
  }
  
.auth-form__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}
  
.auth-form__inputs {
    margin-bottom: 30px;
}
  
.auth-form__input-group {
    position: relative;
    margin-bottom: 20px;
}
  
.auth-form__input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
  
.auth-form__input:focus {
    border-color: #4caf50;
}
  
.auth-form__label {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    display: block;
}
  
.auth-form__input-group i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}
  
.gender-options {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
  
.gender-options label {
    font-size: 14px;
    color: #333;
}
  
button.auth-form__submit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
button.auth-form__submit-button:hover {
    background-color: #45a049;
}
  
.auth-form__register {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
  
.auth-form__register a {
    color: #4caf50;
    text-decoration: none;
}
  
.auth-form__register a:hover {
    text-decoration: underline;
}
  
/* Responsive Styling */
@media (max-width: 768px) {
    .auth-form {
        padding: 20px;
    }
  
    .auth-form__title {
        font-size: 28px;
    }
  
    .auth-form__input-group {
        margin-bottom: 15px;
    }
  
    .auth-form__input {
        font-size: 14px;
        padding: 10px 15px;
    }
  
    button.auth-form__submit-button {
        font-size: 14px;
        padding: 10px 15px;
    }
}
